<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/scss" href="./users-interface.component.scss" />
  </head>
  <body>
    <div class="card">
      <div class="card-image"></div>
      <a class="card-image" href="/nuLibros"> </a>
    
      <div class="card-text">
        <h2>PRESTAMOS</h2>
        <p>Recibe algun tipo de bibliografia y tiene la obligación de devolverla en un plazo determinado</p>
      </div>
    </div>
    <div class="card">
      <div class="card-image card2"></div>
      <a class="card-image card2" href="/nuRevistas"> </a>
      <div class="card-text card2">
        <h2>DEVOLUCIONES</h2>
        <p>Apartado para regresar alguna bibliografia en especifico</p>
      </div>
    </div>
    <div class="card">
        <div class="card-image card3"></div>
        <a class="card-image card3" href="/nuHistory"> </a>
        <div class="card-text card3">
          <h2>HISTORIAL</h2>
          <p>Se guarda el registro de las bibliografias utilizadas previcamente</p>
        </div>
      </div>
  </body>
</html>
